{:paths ["resources" "src" "td3" "td2" "td1" "td4" "tp1" "tp2"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        nrepl/nrepl {:mvn/version "0.5.3"}
       clj-time/clj-time {:mvn/version "0.15.2"}}}